header, footer {
    padding: 1em;
    background-color: bisque;
    margin: 1em;
    border: 1px solid black;
    text-align: center;
}

body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
}

img {
    max-width: 150px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
/* phone or baseline views **************************/
main {
	max-width: 300px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
    justify-content: center;
}

main section h2 {
	color: #536878;
}

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
    
}

main section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}

main a p {
    padding: 1em;
}

.colimage {
	box-shadow: 0 0 30px #333;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
        justify-content: center;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
	}

	main section:nth-child(3) {
		grid-column: span 1;
	}
}
