/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-appearance: none;
}

:root {
    --main-color: #F8F8FF;
    --primary-blue: #6CD4FF;
    --dark-blue: #85ACC1;
    --dark-gray: #494B5B;
    --alt-orange: #A15E5E;
    --primary-orange: #f87060;

}


* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

body {
    font-size: 16px;
    background-color: var(--main-color);
}

img {
    max-width: 400px;
}

header {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
}

header,
footer {
    background-color: var(--primary-blue);
    align-items: center;
    justify-content: center;
    padding: .75rem;
}

header,
main,
footer {
    max-width: 1120px;
    margin: 0 auto;
}

header div {
    display: flex;
    margin: 5px;
}

header div img {
    max-width: 32px;
}

#dateTime {
    grid-column: 1/-1;
    margin: auto auto;
    color: var(--main-color);
}

h1 {
    font-size: 2rem;
    color: var(--main-color);
}

h2 {
    color: var(--dark-gray);
    background: radial-gradient(#eee, var(--dark-blue));
    padding: 0 2em;
    text-align: center;
}

h1,
p {
    margin: 0 2vw;
}

nav button {
    grid-column: 4/6;
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav {
    background-color: var(--main-color);
    margin: 0 auto 0 0;
    max-width: 780px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

nav a {
    text-align: center;
    justify-content: center;
    background: linear-gradient(90deg, transparent, #F87060, transparent) bottom / var(--d, 0) 3px no-repeat;
    transition: .7s;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    font-size: .8rem;
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

#join,
#spotlight3 {
    display: none;
}


main {
    display: flex;
    flex-direction: column;
}

main div {
    background-color: rgba(248, 112, 96, .05);
    padding: 0.75rem;
    border-top: 3px ridge var(--primary-orange);
    border-bottom: 3px ridge var(--primary-orange);
    border-radius: 10px;
    margin: 5px;
}

#spotlights div {
    background-color: none;
    border: none;
    border-left: 3px solid rgba(0, 0, 0, .2);
    border-right: 3px solid rgba(0, 0, 0, .2);

}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


footer p {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.logo {
    max-width: 70px;
    border-radius: 50%;
}

#hero {
    margin: 10px 5px;
    position: relative;
    padding: 0;
    border: none;
    background-color: white;
}

#hero picture img {
    max-width: 100%;
    height: 100%;
}

#hero h2 {
    position: absolute;
    left: 1rem;
    font-size: 2.5em;
}

.join-us {
    position: absolute;
    bottom: 1em;
    left: 2em;
}

.join-us,
.meeting {
    background: radial-gradient(#eee, var(--dark-blue));
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1.5rem;
    box-shadow: 0 0 30px #333;
    opacity: 0.8;
    width: 40%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.join-us span {
    font-style: italic;
    font-weight: 700;
}

.meeting {
    position: absolute;
    top: 2em;
    right: 2em;
}

.meeting.closed {
    display: none;
}

#weather {
    display: grid;
    justify-content: start;
    align-items: center;
    justify-items: center;
    width: 100%;
}

span.temperature,
span.wind-speed {
    grid-column: 1/2;
}

input.temperature,
input.wind-speed,
#submit {
    grid-column: 2/3;
}

#windChill {
    padding: 0 1em;
    grid-column: 2/3;
    grid-row: 5/6;
}

/*Discover page styling*/

#discover-container {
    display: flex;
    flex-direction: column;
    padding: 0;

}

#discover-container h2 {
    font-size: 2em;
    padding: 0 .3em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
}

img[data-src] {
    filter: blur(0.2em);
}

img.clear {
    filter: blur(0em);
    transition: filter 0.5s;
}

#club-div {
    border: none;
}

#mirrormont_sign {
    max-width: 100%;
}

#country_club {
    max-width: 60%;
    border-radius: 5px;
    float: right;

}

#forest {
    max-width: 100%;
}

.hover:hover {
    box-shadow: 0 0 50px #333;
}

#trehouse {
    max-width: 300px;
}

#info2,
#info3 {
    padding: .7em;
}

/* Form */
main #form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form fieldset {
    margin: 2rem .5rem;
    border: 2px solid var(--primary-blue);
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: var(--main-color);
    background-color: var(--dark-gray);
    border-radius: 5px;
    margin: .5rem 1rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: var(--dark-gray);
    font-size: 1.5rem;
}

form label.top input,
form label.top textarea,
form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1)
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: var(--primary-blue);
    color: var(--dark-gray);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.membershipTier {
    /* border: linear-gradient(135deg, rgba(255,255,255,1) 5%, rgba(0, 0, 0, 0.4) 75%)  solid 5px; */
    border-radius: 10px;
    padding: .5rem;
    grid-column: 2/3;
}

.membershipTier h3 {
    margin: 5px 0 0 0;
    padding: 0;
}

.membershipTier ul {
    margin-top: -.5%;

}

.membershipTier ul li {
    list-style: none;

}

#nbMembership {
    background: var(--white-background);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 5%, rgba(18, 121, 233, .7) 75%);
}

#bronzeMembership {
    background: var(--white-background);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 5%, rgba(205, 127, 50, .7) 75%);

}

#silverMembership {
    background: var(--white-background);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 5%, rgba(192, 192, 192, .7) 75%);
}

#goldMembership {
    background: var(--white-background);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 5%, rgba(251, 214, 13, .7) 75%);
}

#timeLoaded {
    display: none;
}



/* Thank you page */
#thankyouPage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#thankyouPage div {
    border-radius: 10px;
    width: 100%;

}

#thankyouPage h1 {
    margin: 5px;
}

#thankyouPage p {
    padding: 2rem 2rem 60% 1rem;
}

/* Directoery*/
main.directory {
    display: flex;
    align-items: flex-start;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: end;
    justify-items: center;
}

main.directory button {
    background-color: #85ACC1;
    padding: 0.75rem;
    border: 5px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    margin: 5px;
}

section.grid section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.grid img {
    max-width: 100%;
    z-index: -1;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

section.grid p {
    margin: 5px;
    font-size: 1.3rem;
}

section.list section img {
    display: none;
}

.spotlight img {
    max-width: 100%;
}

.spotlight {
    display: flex;
    flex-direction: column;
    align-items: center;
}